
/* ==========================================================================
Author's custom styles
========================================================================== */


body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.listcol, .objcol {
  padding-right: 5px;
  padding-left: 5px;
}

#page-content-wrapper {
  padding-top: 0px;
  padding-left: 0px;
}

.navlist {
  list-style-type:none;
  padding-left: 15px;
}

#nav1 {
  z-index: 950;
  position: fixed;
  background-color: #fff;
}

.nav2 {
  float: left;
}

#form2 {
  padding-top: 40px;  
  width: 100%;
  position:relative;

}

#detailColumn {

}

.ars-btn {
  float: right;
}

#noSelection {
  padding-top: 0px;
}

#description {
  resize: vertical;
}

.expandableBlock
{
  top: 30px;
  position:relative;
}

.expandableBlock {
  background-color: white;
}

/* ==========================================================================
Expander
========================================================================== */

.expander {
  position: relative;
  padding-bottom: 40px;
  z-index: 100;
}

.expander > hr {
  position: absolute;
  border-color: black ;
  width: 100%;
  top: -10px;
  z-index: 1;
}

.expander > button {
  z-index: 1000;
  position: absolute;
  background-color: white;
  padding-right: 5px;
  padding-left: 5px;
  border: none;
}

.expander > button:hover   {
  color: blue;
}

.expander > button:hover, button:focus   {
  border: none;
  outline: 0;
}
