<template name="resultList">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">First List Group Item Heading</h4>
    <p class="list-group-item-text">List Group Item Text</p>
  </a>
</template>

<template name="noSelection">
  <p id="noSelection">No selection</p>
</template>

<template name="detailTools">
  {{#if editMode}}
     {{> detailEditToolbar }}
  {{else}}
    {{> detailToolbar }}
  {{/if}}
</template>

<template name="detailForm">
  {{> Template.dynamic template=templateName }}
</template>

<template name="detailToolbar">
    <button type="button" class="btn btn-default">Edit</button>
</template>

<template name="detailEditToolbar">
    <button type="button" class="btn btn-default">Save</button>
    <button type="button" class="btn btn-default">Cancel</button>
</template>