<template name = "description">
  <!-- Expander -->
  <div class="expandableBlock" >
    {{> expander title="Description"}}
    <form class="form-horizontal collapse in">
      <!-- Name -->
      <div class="form-group" >
        <label class="control-label col-sm-2">Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control">
        </div>
      </div>
      <!-- Label -->
      <div class="form-group">
        <label class="control-label col-sm-2">Label</label>
        <div class="col-md-10">
          <input type="text" class="form-control">
        </div> 
      </div>
      <!-- Description -->
      <div class="form-group">
        <label class="control-label col-sm-2">Description</label>
        <div class="col-md-10">
          <textarea id="description" class="form-control" > </textarea>
        </div>
        <!-- Tags -->
        <!-- Attachements -->
      </div>
    </form>
  </div>
</template>